[Desktop Entry]
Name=Bluebox_Vulnerabilities.xlsx
Type=Link
URL=https://docs.google.com/spreadsheets/d/1Ex1LYDOh6bLTOKmlPjmcLA3tmz7JPhJi66sFlRHWekY/edit?usp=drivesdk
